body {
    background-color: rgb(0,255,255);
}

h1{
    color: black;
    text-align: center;
}

h3{
    text-align: center;
}

h6{
    text-align: left;
}
#galerie {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#galerie img {
    width: 100px !important;
    height: 70px !important;
    object-fit: cover;
}