body {
    background-color: rgb(116, 208, 241);
    font-family: Arial;
    line-height: 1.5;
    margin: 20px;
    padding: 20px;
}

p {
    color: black;
    text-align: left;
}

h1 {
    color: black;
    text-align: center;
}

#menu {
    background: blue;
}

.bouton-admin {
    position: absolute;
    top: 20px;
    right: 20px;
}